<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">Nosotros</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
  

<footer class="text-center bg-dark">
  <div>
    <span class="text-light">{{title}} © 2022</span>
    <a href="https://www.instagram.com/pototito_bebes/" target="_blank"><img width= "25
      px" src="https://github.com/Sofiamondello04/ImagenesPototito/blob/main/logoinstagram.png?raw=true" alt="Logo Instagram"></a>
    <a href="https://api.whatsapp.com/send?phone=542284630984&app=facebook&entry_point=page_cta&fbclid=IwAR0ScCdh-0xnkj29oeDReNrqYWamrhxZG434Laflr1R1l7akTYCsHo-lPtU" target="_blank"><img src="https://github.com/Sofiamondello04/ImagenesPototito/blob/main/logowhatsapp.png?raw=true" alt="Logo Whatsapp"></a>
   
</div>
</footer>