<h2>Sobre Nosotros</h2>
<div>
<p>Pototito es un emprendimiento familiar iniciado a fines del a&ntilde;o 2021, ubicado en la ciudad de
    Olavarria, Provincia de Buenos Aires. </p>
<p>Nos dedicamos a la venta minorista de ropa y accesorios para bebes de 0 a 24 meses.</p>
<p>Nuestros productos son confeccionados por nosotros y para ello contamos con las mejores telas, que garantizan calidad al mejor precio.</p>

<p>Ofrecemos asesoramiento continuo en lo que necesites para tu bebe y realizamos envios sin cargo a todo el pais. Contactanos por los medios que te dejamos abajo</p>
</div>